
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/CmdFav/.vs/*
library/CmdFav/CmdFav/bin/*
library/CmdFav/CmdFav/obj/*

# ignore PowerShell Studio MetaData
CmdFav/CmdFav.psproj
CmdFav/CmdFav.psproj.bak
CmdFav/CmdFav.psprojs
CmdFav/CmdFav.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*